*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color:#ffffff;
  background-color:#849d8f;
  }

/* body > * {
  background: rgba(255, 0, 0, 0.3);
}

body > * > * {
  background: rgba(255, 225, 0, 0.3);
}


body > * > * > * {
  background: rgba(0, 0, 225, 0.3);
}

body > * > * > * > * {
  background: rgba(0, 25, 225, 0.3);
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 8px;
  padding-top: 23px;
}


a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  color:#ffffff;
  background-color:#849d8f;
}

.main-menu a:hover
.main-menu a:focus {
  background-color: #f8f7f4;
  list-style: none;
}

.main-menu > li {
  position: relative;
  }

  .main-menu .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
}

.sub-menu-newitems {
  font-weight:bold;
  border-bottom: solid 2px rgba(209, 208, 206, 0.2);
  }


.conteiner-menue {
  margin: 0;
  padding: 0;
  height: 20px;
  }

.main-menu {
  float: left;
  }

.main-menu a {
  display: inline-block;
  position: relative;
  }

.sub-menu {
  position: relative;
  font-size: 14px;
  line-height:16px;
  white-space: nowrap;

  position: absolute;
  width: 144px;
  height: 170px;
  border-radius: 5px;
  display: none;
  box-shadow: 0 25px 50px 3px #373737;
  left:-10px;
  top: 45px;
  z-index: 2;
  }

.main-menu li:hover > ul {
  display:block;
}

.sub-menu-newitems {
  position: absolute;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  border-radius: 5px;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}


.sub-menu-scroll-creamy {
  width: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom:10px;
  }

.sub-menu-inner {
  width: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  background-color: #d07058;
  padding-top: 8px;
  padding-bottom:8px;
  }

.sub-menu-scroll-sherbet {
  width: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom:8px;
}

.sub-menu-scroll-ice{
  width: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  padding-top: 8px;
  padding-bottom:8px;
}

.sub-menu-scroll-melorin {
  width: 100%;
  vertical-align: top;
  text-align: left;
  padding-left: 20px;
  border-radius: 5px;
  padding-top: 8px;
  padding-bottom:8px;
}

.texy-catalog-creamy {
  position: absolute;
  top:13px;
}

.user-navigation > a {
  position: relative;
}

.user-navigation a {
  display: block;
  position: relative;
   }

.main-navigation {
  font-size: 16px;
  line-height:18px;
  color:#ffffff;

  background-color:#849d8f;
}

.main-navigation,
.user-navigation,
.features-list,
.login-link,
.basket-link,
.documents {
  list-style: none;
}

.basket-link-inner {
  list-style: none;
}

.sub-menu a {
  color: #323232;
}

 .catalog {
  color:#ffffff;
}

 .catalog-inner {
  color:#ffffff;
}

 .delivery {
  color:#ffffff;
}

 .company {
  color:#ffffff;
}

.documents a {
 color:#ffffff;
}


.login-link,
.basket-link,
.basket-link-inner {
  font-size: 14px;
  line-height:16px;
}

 .data {
   font-size: 14px;
   line-height:16px;
 }

 .adress {
   font-size: 22px;
   line-height:24px;
 }

.icecream-shop {
  font-size: 24px;
  line-height:30px;
  font-weight:500;
  color: #323232;
}

.newsblog {
  font-size: 16px;
  line-height:22px;
  font-weight:500;
  color: #323232;
}

.ways {
  font-size: 24px;
  line-height:30px;
  text-decoration:underline;
  list-style: none;
  color:#323232;
}

.subscription {
  font-size: 16px;
  line-height:22px;
  font-weight:normal;
  color: #5a5a5a;
  margin-bottom: 30px;
}

.sub-menu-hover:hover {
  background-color: #fbded7;
}

.sub-menu-hover:focus {
  background-color: #f6b5a5;
}

.sub-menu-hover:active {
  background-color: #f8f7f4;
}

.product a:hover {
  color: #fbded7;
}

.product a:focus {
  color: #ffbc9e;
}

.product a:active {
  color: #ffbc9e;
}

.intelligence {
  background-color: #eee2c6;
  background-image: url("../img/wafer.jpg");
  min-height: 305px;
  border-radius: 10px;
  background-position: 0 0;
  background-repeat: repeat;
}

.news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  min-height: 220px;
  border-radius: 10px;
  background-position: left;
  background-repeat: no-repeat;
}

.mailing {
  background-color: #ffffff;
  background-image: url("../img/bg-post.svg");
  min-height: 220px;
  border-radius: 10px;
  background-position: left;
  background-repeat: no-repeat;
  padding: 6px;
}

.mailing-background {
  background-color:#f8f7f4;
  width: 540px;
  height: 210px;
  border-radius: 10px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 35px;
  padding-top: 20px;
  }

.basket-red {
  display: inline-block;
  position: relative;
  width: 118px;
  height: 32px;
  border-radius: 40px;
  background-color: #f7f6f3;
  }

.baske-red-link {
  position: absolute;
  left: 10px;
  top: 5px;
}

  .basket-text-index {
    margin-left: 8px;
  }

.basket-text {
  color:#323232;
  position: absolute;
  left: 45px;
  bottom: 7px;
}

.sub-menu-basket a {
display: inline-block;
position: relative;
}


.basket-link-inner:hover > .sub-menu-basket {
  display:block;
  }

.name a {
  color: #323232;
}

 .login-link .button {
   position: relative;
   padding-left: 16px;
   color:#ffffff;
   font-size: 14px;
   line-height:16px;
   border-radius: 40px;
   background-color: #a1b4a9;
   display: flex;
   align-items: center;
   min-height: 32px;
   padding-right: 17px;
 }

 .button:hover path{
   fill: #323232;
   }

.button:hover {
  color: #323232;
  background-color: #f8f7f4;
}

.fast {
  display: none;
  padding-top: 9px;
  color:#ffffff;
  font-size: 18px;
  line-height:24px;
  }

.creamy-fast:hover .fast-product a{
  position: absolute;
  display: inline-block;
  box-shadow: 0 1px 2px 1px #373737;
  right: 20px;
  z-index: 1;
  width:202px;
  height:44px;
  border-radius: 40px;
  background-color: #f26843;

}

 .creamy-view:hover::before {
  content: "";
  position: absolute;
  background-color: #f8f7f4;
  width: 295px;
  height: 410px;
  border-radius: 5px;
  opacity: 0.4;
  right: 5px;
  top: -3px;
  z-index: 1;
  }

.transparency {
  position: relative;
}

.transparency:hover {
  z-index: 2;
}

 .basket-link .button-basket {
   position: relative;
   padding-left: 16px;
   color:#ffffff;
   font-size: 14px;
   line-height:16px;
   border-radius: 40px;
   font-weight: normal;
   background-color: #a1b4a9;
   display: flex;
   align-items: center;
   min-height: 32px;
   padding-right: 17px;
   }

.basket-link-inner .button-basket {
  position: relative;
  padding-left: 16px;
  color:#ffffff;
  font-size: 14px;
  line-height:16px;
  border-radius: 40px;
  font-weight: normal;
  background-color: #a1b4a9;
  display: flex;
  align-items: center;
  min-height: 32px;
  padding-right: 17px;
  }

    .button-basket:hover svg{
    fill: #323232;
    }

  .button-basket:hover {
    color: #323232;
    background-color: #f8f7f4;
  }

  .social {
   list-style: none;
}


.catalog-inner {
  position: relative;
  padding: 23px 0 0;
  margin-right: 24px;
  margin-top: 10px;
  width: 87px;
  height: 33px;
  background-color: #d07058;
  border-radius: 40px;
}

.catalog-inner-menu {
  position: absolute;
  top: 7px;
  left: 14px;
}

.delivery-inner {
  position: absolute;
  left: 15px;
  top: 5px;
}

.company-inner {
  position: absolute;
  top: 7px;
  left: 3px;
  }

.twitter-button {
  font-size: 0px;
  padding:16px;
  margin-right: 12px;
  border: 4px solid;
  border-radius: 32px;
  border-color: #c2cec7;


  background-image: url("../img/twitter.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.instagram-button {
  font-size: 0px;
  padding:16px;
  margin-right: 12px;
  border: 4px solid;
  border-radius: 32px;
  border-color: #c2cec7;

  background-image: url("../img/instagram.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.facebook-button {
  font-size: 0px;
  padding:16px;
  margin-right: 12px;
  border: 4px solid;
  border-radius: 32px;
  border-color: #c2cec7;

  background-image: url("../img/fb.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.vk-button {
  font-size: 0px;
  padding:16px;
  margin-right: 12px;
  border: 4px solid;
  border-radius: 32px;
  border-color: #c2cec7;

  background-image: url("../img/vk.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.documents-provider {
  display: inline-block;
  font-size: 13px;
  line-height:18px;
  padding: 0px 22px;
  text-decoration:underline;
  font-weight:bold;
  background-image: url("../img/heart.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.documents-button {
  font-size: 13px;
  line-height:18px;
  font-weight:normal;
  text-decoration:underline;
}

.companion .companion-logo:hover,
.companion .companion-logo:hover,{
   color: #ffffff;
}

.companion-logo {
  color:#ffffff;
  font-size: 12px;
  line-height:18px;
  font-weight:normal;
  padding: 0;
  margin: 0;
  }

.companion-logo-text {
  color:#ffffff;
  font-size: 12px;
  line-height:18px;
  font-weight:normal;
  text-decoration:underline;
}

.answer {
  font-size: 24px;
  line-height:28px;
  color: #323232;
}

.forquestion {
  list-style: none;
}

.forquestion {
  font-size: 16px;
  line-height:24px;
  color: #b8b8b8;
}

.forquestion-button {
  text-align: center;
  color:#323232;
  font-size: 14px;
  line-height:16px;

  display: inline-block;
  margin: 20px;
  padding: 13px 39px;
  border-radius: 40px;
  background-color: #f16542;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  }

  .main-link a {
  color:#ffffff;
}

.main-link,
.icecream-link {
  font-size: 14px;
  line-height:16px;
  font-weight:normal;
}

.main-link {
  text-decoration:underline;
}

.parentheses {
  text-decoration: none;
}

.product {
  font-size: 16px;
  line-height:22px;
  font-weight:500;
  text-decoration:underline;
}

.price {
  font-size: 45px;
  line-height:45px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  }

.product a {
  color:#ffffff;
}

.catalog a:active {
  color:#d07058;
}

.basket-link a:active {
  color:#f7f6f3;
}

.kilogram {
  font-size: 30px;
  line-height:45px;
}

.popup {
  display:none;
}


.catalog-creamy {
  font-size: 35px;
  line-height:41px;
  margin: 0;
  padding: 0;
}

/* Сетка поставил, включиль, клюшь повернуль пошёль, пошёль, пошёль */



.conteiner {
 width: 1200px;
 padding-left: 27px;
 padding-right: 27px;
 margin: 0 auto;
}

/* хедер */

.maine-header {
margin-bottom: 770px;
  }

.inner-page {
  margin-bottom: 10px;
  }

.main-navigation {
  display: flex;
}


.main-header-logo {
  width: 154px;
  height: 64px;
  padding-top: 10px;
  }

.user-navigation {
  padding-top: 6px;
  margin-right: 10px;
  margin-left: auto;
  }

.check-login {
  padding: 23px 0 0;
  margin-right: 10px;
}

.basket {
  padding: 23px 0 0;
  margin-left: 10px;
  }

.conteiner-data {
text-align: right;
}

.data {
  white-space: pre;
  padding-right: 27px;
}

.conteiner-adress {
  text-align: right;
}

.adress {
  white-space: pre;
  padding-right: 27px;
}


.navigation {
  display: flex;
}

.main-link {
  padding: 0;
  margin-right: 22px;
  }

.icecream-link {
  padding:0;
  margin: 0;
}

/* Хедер конец */


.conteiner-intelligence {
  padding: 0 27px 0;
}

.intelligence {
  width: 1145px;
  padding: 0 27px 0;
}

.conteiner-news-mailing {
  display: flex;
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
  }

.news {
  width: 560px;
  height: 220px;
  margin-right: 20px;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  }

.mailing {
  position: relative;
  width: 560px;
  min-height: 220px;
  margin-left: 20px;
  margin-top: 40px;
  }

.creamy-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
  padding-left: 0;
  z-index: 1;
  }

.creamy-item li {
  list-style: none;
  width: auto;
  position: relative;
  }

.creamy-item li {
  width: 25%;
  padding-right: 26px;
}

.creamy {
border-radius: 140px;
}

.price-kilogram {
  display: inline-block;
  position: absolute;
  top: 210px;
  left: 15px;
  }

.main-footer {
  display: flex;
  margin-top: 470px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  }

.main-footer-inner {
  display: flex;
  margin-top: 177px;
  padding-top: 40px;
  padding-bottom: 30px;
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
  }

.footer-social {
  display: flex;
  margin: 0;
  width: 400px;
  margin-right: 30px;
  margin-top: 20px;
  }

.companion-conteiner {
  width: 190px;
  height: 64px;
  margin-left: auto;
  }

.companion {
  margin: 0;
  padding: 0;
}


.social {
  display: flex;
  }

.footer-documents {
  width: 380px;
  }

.documents {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  text-decoration:underline;
}

.documents li {
  display: inline-block;
  min-width: 135px;
  }

.production {
  padding-left: 22px;
  }


.standards {
  padding-left: 22px;
}


.documents-provider,
.documents-button {
  white-space: pre;
}

.icecream-shop {
display: inline-block;
padding-top: 15px;
padding-left:20px;
padding-right: 20px;
margin: 0;
}

.features-list {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  padding: 0;
  font-size: 16px;
  line-height:22px;
  font-weight:normal;
  color: #323232;
  }

.features-list li {
  width: 50%;
  padding-left: 50px;
  padding-bottom: 31px;
  }


.user-navigation:hover {
  background-color: #f8f7f4;
   }

.user-navigation:hover path{
  fill: #323232;
  }

 .login-search {
  position: absolute;
  margin-right: 239px;
  width: 340px;
  height: 85px;
  border-radius: 5px;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0 25px 50px 3px #373737;
  right: -240px;
  display: none;
  margin-top: 10px;
  }

.user-navigation:hover > .login-search {
  display: block;
}

.user-navigation {
  position: relative;
  color:#323232;
  display: inline-block;
  padding-left: 8px;
  padding-top: 8px;
  width:32px;
  height:32px;
  border-radius: 40px;
  background-color: #a1b4a9;
  margin-top: 23px;
}

.login-search-link {
  position: absolute;
  width: 311px;
  height:44px;
  border-radius: 10px;
  border-color: #d3d3d2;
  border-width: 1px;
  top:21px;
  left: 15px;
}


.login-link a{
  color: #323232;
}

 .check-login {
  position: relative;
  }

  .check-login:hover > .login-hover {
    display: block;
  }

.login-hover {
  position: absolute;
  width: 277px;
  height: 214px;
  background-color: #f8f7f4;
  border-radius: 5px;
  display: block;
  display: none;
  box-shadow: 0 25px 50px 3px #373737;
  margin-top: 5px;
  right: 0px;
  z-index: 2;
}

.entrance-text {
  margin-left: 8px;
}

.entrance {
  position: absolute;
  width: 102px;
  height: 45px;
  background-color: #e74b36;
  border-radius: 40px;
  border: none;
  font-size: 18px;
  line-height:24px;
  color:#fefefe;
  display: block;
  top:148px;
  left:19px;
  }

.new-registration {
  position: absolute;
  text-decoration: underline;
  word-wrap:normal;
  top:154px;
  left: 140px;
  }

.forgot-password {
  position: absolute;
  word-wrap:normal;
  text-decoration: underline;
  top:178px;
  left: 140px;
  }

 .login-email {
  position: absolute;
  text-decoration: underline;
  width: 240px;
  height: 44px;
  border-radius: 5px;
  border-color: #d3d3d2;
  border-width: 1px;
  top:21px;
  left: 20px;
}

.login-password {
 position: absolute;
 text-decoration: underline;
 width: 240px;
 height: 44px;
 border-radius: 5px;
 border-color: #d3d3d2;
 border-width: 1px;
 top:85px;
 left: 20px;
}

.send {
  position: absolute;
  width: 129px;
  height: 45px;
  border-radius: 40px;
  background-color: #e34d3a;
  border: none;
  font-size: 18px;
  line-height:24px;
  color:#fefefe;
  display: block;
  top: 135px;
  left: 400px;
}

.email-send {
  display: flex;
  width: 371px;
  height: 44px;
  border-radius: 10px;
  border-color: #d3d3d2;
  border-width: 1px;
  padding-left: 10px;
}

.main-link:after {
  position: absolute;
  content: "»";
  padding-left: 8px;
  padding-right: 8px;
  }

.sub-menu-scroll {
  font-weight:normal;
  text-decoration:underline;
  }

.main-menu-link {
  opacity: 1;
  width:100%;
  height:32px;
  border-radius: 40px;
  margin-right: 24px;
  margin-top: 10px;
  padding: 7px 14px;
}

.main-menu-link span {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.main-menu-link:hover {
  color: #323232;
  background-color: #f7f6f3;
  }

.main-button {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35, #f26843);
}

.main-button:hover {
  opacity: 0.7;
}

.main-button:active {
  box-shadow: 0px 2px 2px 0 rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #f26843, #e74a35);
  opacity: 1;
}

.feature-item-ice-cream:after {
  position: absolute;
  content:"";
  width:49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  bottom: 170px;
  left: -4px;
}

.feature-item-cow:after {
  position: absolute;
  content:"";
  width:49px;
  height:49px;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  bottom: 170px;
  right: 500px;
}

.feature-item-eco:after {
  position: absolute;
  content:"";
  width:49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  bottom: 80px;
  left: -4px;
}

.feature-item:after {
  position: absolute;
  content:"";
  width:49px;
  height:49px;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  bottom: 80px;
  right: 500px;
}











































































.exclude-1 {
  position: absolute;
  border:none;
  background-color: #f8f7f4;
  top: 30px;
  left: 10px;
  margin: 0;
  }

.creamy-1 {
  position: absolute;
  border-radius: 40px;
  top: -20px;
  left: -15px;
}

.name-creamy-basket {
  display: flex;
  word-wrap:normal;
  margin-left: 30px;
  width: 423px;
  margin-top: 0px;
  }

.price-basket-kilogram {
  display: inline-block;
  word-wrap:normal;
  padding-left: 20px;
}

.price-basket {
  display: inline-block;
  word-wrap:normal;
  padding-left: 10px;
}

.exclude-2 {
  position: absolute;
  border:none;
  background-color: #f8f7f4;
  left: 10px;
  top:90px;
  }

.creamy-2 {
  position: absolute;
  border-radius: 40px;
  top: -30px;
  left: -15px;
  }

.name-creamy-basket2 {
  display: flex;
  word-wrap: break-word;
  width: 423px;
  margin-left: 30px;
  margin-top: 40px;
}

.strawberry-icecream {
  display: inline-block;
  margin-left: 5px;
  max-width: 240px;
}

.price-basket-kilogram2 {
  display: inline-block;
  }

.price-basket2 {
  display: inline-block;
  word-wrap:normal;
  padding-left: 10px;
  padding-top: -10px;
}

  .sub-menu-basket {
    position: absolute;
    width: 540px;
    height: 240px;
    border-radius: 10px;
    background-color: #f8f7f4;
    font-size: 14px;
    line-height:16px;
    font-weight:normal;
    color:#323232;
    z-index: 2;
    right: 60px;
    display: none;
    padding: 16px;
  }

.price-rub {
  opacity: 0.5;
}

.sub-menu-basket-hover {
  list-style: none;
  border-bottom: 2px solid rgba(202, 202, 199, 0.2);
}

.total {
  display: block;
  padding-top: 20px;
  padding-left: 360px;
  }

  .order {
    border: none;
    position: absolute;
    width: 170px;
    height: 45px;
    border-radius: 20px;
    background-color: #e74b36;
    top: 20px;
    left: 300px;
    box-shadow: 0 1px 2px 1px #373737;
  }

  .checkout {
    display: block;
    color:#fefefe;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    line-height:24px;
  }
