body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color:#ffffff;
  background-color:#849d8f;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  color:#ffffff;
  background-color:#849d8f;
}

.main-menu a:hover
.main-menu a:focus {
  background-color: #f8f7f4;
  list-style: none;
}

.main-menu > li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

  .main-menu .sub-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f8f7f4;
}

.sub-menu {
  font-size: 14px;
  line-height:16px;
  color:#323232;
}

.main-navigation {
  font-size: 16px;
  line-height:18px;
  color:#ffffff;

  background-color:#849d8f;
}

.main-navigation,
.user-navigation,
.features-list,
.login-link,
.basket-link,
.documents {
  list-style: none;
}

 .main-navigation a,
 .user-navigation a,
 .features-list a,
 .login-link a,
 .basket-link a,
 .documents a {
  color:#ffffff;
}

.login-link,
.basket-link {
  font-size: 14px;
  line-height:16px;
}

 .data {
   font-size: 14px;
   line-height:16px;
 }

 .adress {
   font-size: 22px;
   line-height:24px;
 }

.icecream-shop {
  font-size: 24px;
  line-height:30px;
  font-weight:500;
  color: #323232;
}

.features-list {
  font-size: 16px;
  line-height:22px;
  font-weight:normal;
  color: #323232;
}

.newsblog {
  font-size: 16px;
  line-height:22px;
  font-weight:normal;
  color: #323232;
}

.ways {
  font-size: 24px;
  line-height:30px;
  text-decoration:underline;
}

.ways {
  list-style: none;
  color:#323232;
}

.subscription {
  font-size: 16px;
  line-height:22px;
  color: #323232;
}

.sub-menu a:hover {
  background-color: #fbded7;
}

.sub-menu a:focus {
  background-color: #f6b5a5;
}
.sub-menu a:active {
  background-color: #f8f7f4;
}

.intelligence {
  background-color: #eee2c6;
  background-image: url("../img/wafer.jpg");
  min-height: 305px;
  background-position: 0 0;
  background-repeat: repeat;
}

.news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-background.jpg");
  min-height: 220px;
  background-position: left;
  background-repeat: no-repeat;
}

.mailing {
  background-color: #ffffff;
  background-image: url("../img/mail.jpg");
  min-height: 220px;
  background-position: left;
  background-repeat: no-repeat;
}

.button {
  text-align: center;
  color:#323232;
  font-size: 14px;
  line-height:16px;

  display: inline-block;
  margin: 20px;
  padding: 13px 39px;
  border-radius: 40px;
  background-color: #a1b4a9;
  background-image: url("../img/entrance.svg");
  background-position: left;
  background-repeat: no-repeat;
}

  .button:hover {
    background-color: #f8f7f4;
}

 .button-basket {
  text-align: center;
  color:#323232;
  font-size: 14px;
  line-height:16px;

  display: inline-block;
  margin: 20px;
  padding: 13px 39px;
  border-radius: 40px;
  background-color: #a1b4a9;
  background-image: url("../img/basket.svg");
  background-position: left;
  background-repeat: no-repeat;
}

  .button:hover {
   background-color: #f8f7f4;
}

  .social {
   list-style: none;
}

.twitter-button {
  font-size: 0px;
  padding: 32px 32px;

  background-image: url("../img/twitter.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.instagram-button {
  font-size: 0px;
  padding: 32px 32px;

  background-image: url("../img/instagram.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.facebook-button {
  font-size: 0px;
  padding: 32px 32px;

  background-image: url("../img/fb.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.vk-button {
  font-size: 0px;
  padding: 32px 32px;

  background-image: url("../img/vk.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.documents {
  text-align: center;
}

.documents-provider {
  font-size: 14px;
  padding: 15px 13px;
  background-image: url("../img/heart.svg");
  background-position: left;
  background-repeat: no-repeat;
}

.companion {
    text-align: right;
}

.companion .companion-logo:hover,
.companion .companion-logo:hover,{
   color: #ffffff;
}

.companion-logo {
  color:#ffffff;
  font-size: 12px;
  line-height:18px;
  font-weight:normal;
  background-position: right;
}

.answer {
  font-size: 24px;
  line-height:28px;
  color: #323232;
}

.forquestion {
  list-style: none;
}

.forquestion {
  font-size: 16px;
  line-height:24px;
  color: #b8b8b8;
}

.forquestion-button {
  text-align: center;
  color:#323232;
  font-size: 14px;
  line-height:16px;

  display: inline-block;
  margin: 20px;
  padding: 13px 39px;
  border-radius: 40px;
  background-color: #f16542;
}

  .basket-menu a:hover
  .basket-menu a:focus {
    background-color: #f8f7f4;
    list-style: none;
}

  .basket-menu > li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
}

  .basket-menu .sub-menu-basket {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #f8f7f4;
}

  .sub-menu-basket {
   font-size: 14px;
   line-height:16px;
   color:#323232;
}

.creamy-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  }


  .order {
    text-align: center;
    color:#323232;
    font-size: 18px;
    line-height:24px;

    display: inline-block;
    margin: 20px;
    padding: 25px 70px;
    border-radius: 40px;
    background-color: #a1b4a9;
    }

  .main-link a,
  .catalog-link a {
  color:#ffffff;
}

.main-link,
.catalog-link,
.icecream-link {
  font-size: 14px;
  line-height:16px;
}

.visual-hidden {
  font-size: 35px;
  line-height:41px;
}

.product {
  font-size: 16px;
  line-height:22px;
  font-weight:normal;
}

.price {
  font-size: 45px;
  line-height:45px;
  }

.product a {
  color:#ffffff;
}

.catalog a:active {
  color:#d07058;
}

.basket-link a:active {
  color:#f7f6f3;
}


.popup {
  display:none;
}
